*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* MASTER prvi commit */

  /* MASTER prvi commit */


  /* MASTER prvi commit */

  /* MASTER prvi commit */
  /* MASTER prvi commit */





}

html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(128, 150, 190);
  padding: 25px;
  margin: 10px;
}